.cartegory {

    padding: 100px 0 0;
}

.cartegory-top {
    margin-bottom: 50px;
}

.cartegory-top p {
    margin: 0 12px;
    font-size: 12px;
}

.cartegory-left {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.cartegory-right {
    width: 80%;
}

.cartegory-right-top-item:first-child {
    font-size: 16px;
    font-weight: bold;

}


.tuyen1 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tuyen2 {
    display: flex;
    gap: 10px;
    align-items: center;
}


.cartegory-right-top-item select {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #f79629;
    border-radius: 10px;
    cursor: pointer;
}

.cartegory-right-top-item h4 {
    padding: 0;
    border-bottom: 2px solid #f79629;
    display: inline;

}

.cartegory-right-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.cartegory-right-bottom .cartegory-right-bottom-items p {
    font-size: 20px;
    color: #000;
}

.pagnav {
    display: flex;

    gap: 5px;
    margin-bottom: 20px;
    align-items: center;
}

.pagnav li {
    display: inline-block;
}

.pagnav li a {
    display: block;
    padding: 5px 15px;
    font-size: 16px;
    color: #000;
    border-radius: 10px;
    font-weight: 500;
    border: 1px solid #e9e9e9;

}

h4 {
    font-size: 18px;
    font-weight: 700;
}


.t2 li::after {
    content: "";
    position: absolute;
    background-color: #f49621;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.7s;
}

.t2 li:hover::after {
    width: 100%;
}

.vang {
    background-color: #f49621;
}


.cartegory-left ul li {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.cartegory-left ul li a {
    color: black;

    font-size: 16px;
    font-weight: 200;

}

.new_arrivals2 .row .col .product-gird .product-item {
    position: relative;
}

.cartegory-left ul li ul li {

    border: none;
    padding: 2px;

}

.cartegory-left ul li ul li a {
    font-size: 14px;
    color: rgb(102, 102, 102);
    line-height: 30px;
    padding-left: 10px;
}

.t2 {
    padding-right: 30px;
}

.t1 {
    position: relative;
}

.t1 i {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 12px;
}

.t1 ul {
    display: none;
}

.t1 ul li a {
    border: none;
    font-size: 12px;
}

.t1.block ul {
    display: block;
}

.search-box {

    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    border: 1px solid #f79629;
    transition: all 0.5s ease;
}

.search-box-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    font-size: 14px;
    border: none;
}

.search-box-btn i {
    font-weight: 700;
    color: #000;
}

.search-box-input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}

.search-box.open {
    width: 200px;
}

.slider {
    padding-right: 20px;
}

.slider h4 {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #f79629;
    display: inline;
}

.range-slider {
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 40px;
}

.range-slider .rangeValues {
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: left;
}

input[type=range] {
    -webkit-appearance: none;
    border: 1px solid white;
    width: 100%;
    position: absolute;
    left: 0;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #f79629;
    margin-top: -6px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}


/*The following CSS code is not necessary for everyone*/

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #21c1ff;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;
    /*remove default tick marks*/
    color: transparent;
    z-index: -4;
}

input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #21c1ff;
}

input[type=range]:focus::-ms-fill-lower {
    background: #888;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}


.list-check {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.list-check label {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: rgb(68, 68, 68);
}

@media only screen and (max-width: 767px) {
    .product-item {
        width: 33.33%;
    }

    .cartegory-left {
        display: none;
    }

    .cartegory-right {
        width: 100%;
    }

    .cartegory-right-top-item h4 {
        font-size: 12px;
    }

    .cartegory-right-top-item span {
        font-size: 12px;
    }

    .cartegory-right-top-item select {
        font-size: 12px;
    }

    .cartegory-right-top-item:first-child {
        width: 100%;
        margin-bottom: 10px;
    }

    .tuyen2 {
        width: 100%;
    }

}

@media only screen and (max-width: 479px) {
    .product-item {
        width: 50%;
    }

    .cartegory-left {
        display: none;
    }

    .cartegory-right {
        width: 100%;
    }

    .cartegory-right-top-item h4 {
        font-size: 12px;
    }

    .cartegory-right-top-item span {
        font-size: 12px;
    }

    .cartegory-right-top-item select {
        font-size: 12px;
    }

    .cartegory-right-top-item:first-child {
        width: 100%;
        margin-bottom: 10px;
    }

    .tuyen2 {
        width: 100%;
    }

}