@charset "utf-8";


/* 1. Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,500;0,700;1,100;1,200;1,300;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'League Spartan', sans-serif; */

    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    background: #fff;
    color: #1e1e27;
}

div {
    display: block;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

p {
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 500;
    color: #989898;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

p a {
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid;
    transition: all 200ms ease;
}

a,
a:hover,
a:active,
a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

p a:active {
    position: relative;
    color: #f49621;
}

p a:hover::after {
    opacity: 0.2s;
}

::selection {
    background: #fde0db;
    color: #f49621;
}

p::selection {
    background: #fde0fd;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #282828;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.trans_300 {
    transition: all 300ms ease;
}

.fill_hight {
    height: 100%;
}

::input-placeholder {
    font-size: 16px !important;
    font-weight: 500px;
    color: #777777;
}

.super_container {
    width: 100%;
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(233, 233, 233);
    z-index: 10;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

/* menu_hamburger */
.hamburger_container {
    margin-left: 40px;
    display: none;
}

.hamburger_container {
    font-size: 24px;
    color: #1e1e27;
    transition: all 300ms ease;
}

.hamburger_container:hover i {
    color: #f79629;
}

.hamburger_menu {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 10;
    transition: all 300ms ease;

}

.hamburger_menu.active {
    right: 0;
}

.fs_menu_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0);
    pointer-events: none;
    transition: all 200ms ease;

}

.hamburger_close {
    position: absolute;
    top: 26px;
    right: 10px;
    padding: 10px;
    z-index: 1;
}

.hamburger_close i {
    font-size: 24px;
    color: #f79629;
    transition: all 300ms ease;
}

.hamburger_close i:hover {
    color: #f79629;
}

.hamburger_menu_content {
    padding-top: 100px;
    width: 100%;
    height: 100%;
    padding-left: 20px;

}

.menu_item {
    display: block;
    position: relative;

}

.menu_item>a {
    display: block;
    color: #000;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-transform: uppercase;

}

.menu_item>a:hover {
    color: #f79629;
}

.menu_item>a>i {
    margin-left: 8px;
}

.menu_item.active .menu_selection {
    display: block;
    visibility: visible;
    opacity: 1;

}


.main_nav_container {
    width: 100%;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.015);
}

.navbar {
    width: auto;
    height: 80px;
    float: right;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar_menu li {
    display: inline-block;
    padding: 20px;
}

.navbar_menu li a {
    display: block;
    color: #1e1e27;
    font-size: 20px;
    font-weight: 700;
    transition: color 0.3s ease;
    position: relative;
    text-transform: uppercase;
}

.navbar_menu li a::after {
    content: "";
    position: absolute;
    background-color: #f49621;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -20px;
    transition: 0.3s;
}

.navbar_menu li a:hover::after {
    width: 100%;
}

.navbar_menu li a:hover {
    color: #f49621;
}

.navbar_user {
    margin-left: 37px;

}

.navbar_user li {
    display: inline-block;
    text-align: center;
}

.navbar_user li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    color: #1e1e27;
    transition: color 0.3s ease;
    font-weight: 700;
    font-size: 18px;
}

.navbar_user li a:hover {
    color: #f49621;
}

.search-bar {
    width: 100%;
    height: 300px;
    background-color: #ffff;
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    z-index: 100;
    animation: search 0.3s;
    box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
}

.search-input {
    width: 90%;
    border-bottom: 2px solid #1e1e27;
    display: flex;
    height: 100px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    width: 100%;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 20px;
    margin: 20px;
    padding: 0px 20px
}

.search-cancel {
    color: #2727;
    font-size: 2rem;
}

.search-bar {
    display: none;
}


.search-bar-active {
    display: flex;
}

@keyframes search {
    0% {
        top: -300px;
    }

    100% {
        to: 0;
    }
}

.form1 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 102;

}

.login-form,
.sign-up-form {
    width: 420px;
    padding: 20px 10px;
    background-color: #ffff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}

.login-form form,
.sign-up-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.login-form strong,
.sign-up-form strong {
    color: #000;
    font-size: 20px;
    margin: 2px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;

}

.login-form input,
.sign-up-form input {
    width: 90%;
    height: 45px;
    margin: 6px 0;
    padding: 0 10px;
    border: 1px solid;
    outline: none;
}

.login-form input[type="submit"],
.sign-up-form input[type="submit"] {
    background-color: #f79629;
    color: #000;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin-top: 0px;
    border-radius: 3px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    font-weight: 700;
}

.form-btns {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.form-btns a {
    color: #f79629;
    font-size: 14px;

}

.sign-up-btn {
    border-bottom: 1px solid #f79629;
    line-height: 16px;
}

.form-cancel {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #f79629;
}

.login-form,
.sign-up-form,
.form1 {
    display: none;
}

.login-active,
.login-active .login-form {
    display: flex;
    animation: fade 0.3s;

}

.sign-up-active,
.sign-up-active .sign-up-form {
    display: flex;
    animation: fade 0.3s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.checkout {
    color: #f49621;

}

.checkout a {
    border-radius: 50%;
}

.checkout_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -9px;
    left: 22px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    background: #f49621;
    color: #fff;

}

.logo_container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;

}

.logo_container a {
    font-size: 32px;
    color: #1e1e27;
    font-weight: 700;
}

.logo_container a span {
    color: #f49621;
}

.main_slider {
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
    margin-top: 100px;

}

.main_slider_content {
    width: 60%;

}

.main_slider_content h6 {
    font-weight: 500;
    text-transform: uppercase;

}

.main_slider_content h1 {
    font-weight: 400;
    line-height: 1;
}

.red_button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    background-color: #f79629;
    border-radius: 0px;
    transition: all 0.3s ease;
}

.red_button a {
    display: block;
    color: #ffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.red_button a span {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    z-index: -1;
    transition: 0.5s;
}

.red_button a:hover span {
    width: 100%;
}

.shop_now_button {
    width: 140px;
    margin-top: 32px;
}

/* PRODCUT */
.new_arrivals {
    width: 100%;

}

.new_arrivals_title {
    margin-top: 50px;
}

.new_arrivals_title h3 {
    font-weight: 700;
    display: inline-block;
}

.new_arrivals_title h3::after {
    position: absolute;
    bottom: -5px;
    left: 2px;
    width: 50%;
    height: 4px;
    background-color: #f49621;
}

.new_arrivals_sorting {
    display: inline-block;
    border-radius: 3px;
    margin-top: 20px;
    overflow: visible;
}

.grid_sorting_button {
    height: 40px;
    min-width: 102px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    border: solid 1px #ebebeb;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    background: #ffff;
    border-radius: 3px;
    margin: 0;
    float: left;
    margin-left: -1px;

}

.grid_sorting_button:first-child {
    margin-left: 0px;
}

.grid_sorting_button.active {
    color: #ffff;
    background: #f59724;

}

.grid_sorting_button.active:hover {
    background-color: #f49621 !important;

}

.clearfix::before,
.clearfix::after {
    content: '';

}

.clearfix::after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.product-gird {
    width: 100%;
    margin-top: 25px;
}

.product-item {
    width: 20%;
    height: 340px;
    cursor: pointer;

}

.product-item::after {
    display: block;
    position: absolute;
    top: 0;
    left: -1px;
    width: calc(100% + 1px);
    height: 100%;
    pointer-events: none;
    content: '';
    border: solid 1px rgba(235, 235, 235, 0);
    transition: all 0.5s ease;

}

.product-item:hover:after {
    box-shadow: 0 25px 29px rgba(69, 79, 105, 0.18);
    border: 2px solid #f79629;
}

.product-item:hover img {
    transform: scale(1.1);
}

.product {
    width: 100%;
    height: 300px;
    border-right: solid 1px #e9e9e9;
    border-left: solid 1px #e9e9e9;
}

.product_image {
    width: 100%;
    overflow: hidden;
}

.product_image img {
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.product_info {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.product_name {
    color: #1e1e27;
    line-height: 20px;
}

.product_name a {
    color: #1e1e27;
    font-weight: 700;
}

.product_name:hover a {
    color: #e9e9e9;
}

.product_price {
    font-size: 16px;
    color: #f49621;
    font-weight: 600;

}

.product_price span {
    font-size: 12px;
    margin-left: 10px;
    color: #b5aec4;
    text-decoration: line-through;
}

.product_info .product_price {
    font-size: 14px;
}

.product_bubble {
    position: absolute;
    top: 15px;
    width: 50px;
    height: 22px;
    border-radius: 3px;
    text-transform: uppercase;
}

.product_bubble span {
    font-size: 12px;
    font-weight: 600;
    color: #ffff;
}

.product_bubble_right::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 6px;
    right: auto;
    top: auto;
    bottom: -6px;
    border: 6px solid;
}

.product_bubble_left::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 6px;
    top: auto;
    bottom: -6px;
    border: 6px solid;
}

.product_bubble_red::after {
    border-color: transparent transparent transparent #f49621;
}

.product_bubble_left::after {
    border-color: #51a042 #51a042 transparent transparent;
}

.product_bubble_red {
    background: #f49621;
}

.product_bubble_green {
    background: #f49621;
}

.product_bubble_left {
    left: 15px;
}

.product_bubble_right {
    right: 15px;
}

.add_to_card_button {
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}


.add_to_card_button a {
    font-size: 12px;
    font-weight: 600;

}


.product-item:hover .add_to_card_button {
    visibility: visible;
    opacity: 1;
}

.favorite {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #f49621;
    width: 17px;
    height: 17px;
    visibility: hidden;
    opacity: 0;
}

.favorite_left {
    left: 15px;
}

.favorite.active {
    visibility: visible;
    opacity: 1;
}

.product-item:hover .favorite {
    visibility: visible;
    opacity: 1;
}

.favorite.active::after {
    font-family: 'FontAwesome';
    content: '\f004';
    color: #f49621;
}

.favorite::after {
    font-family: 'FontAwesome';
    content: '\f08a';
}

.favorite:hover::after {
    color: #fe4c50;
}

/* sale */


.discount_pic img {
    min-width: 100%;
    height: 100%;
}

.discount_text {
    background-color: #e9e9e9;
    height: 100%;
    padding: 75px 90px 50px;
    text-align: center;
}

.discount_text .discount_text_title {
    text-align: center;
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
}

.discount_text .discount_text_title:after {
    content: '';
    position: absolute;
    left: 50%;
    top: -38px;
    height: 183px;
    width: 183px;
    background-color: #fff;
    z-index: -1;
    margin-left: -90px;
}

.discount_text .discount_text_title span {
    font-size: 20px;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}

.discount_text .discount_text_title h2 {
    font-size: 55px;
    color: #ff7200;
    margin-bottom: 10px;
    font-weight: 700;
}

.discount_text .discount_text_title h5 {
    color: #ff7200;
    font-weight: 700;
}

.discount_text .discount_text_title h5 span {
    font-size: 18px;
    color: #000;
    margin-right: 5px;
}

.discount_countdown {
    text-align: center;
    margin-bottom: 10px;
}

.discount_countdown .countdown_item {
    margin-bottom: 15px;
    float: left;
    width: 25%;
}

.discount_countdown .countdown_item:last-child {
    margin-right: 0;
}

.discount_countdown .countdown_item span {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    display: inline-block;
}

.discount_countdown .countdown_item p {
    color: #000;
    margin-bottom: 0;
    display: inline-block;
    font-weight: 500;
}

.discount_text a {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding: 0 0 3px;
    display: inline-block;
}

.discount_text a::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #f79629;
    content: '';
}

/* sellers */

.product_slider_container {
    width: 100%;
    height: 270px;
    margin-top: 50px;
}

.product_slider_container::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: #fff;
    content: '';
    z-index: 1;
}

.product_slider {
    overflow: visible !important;


}

.product_slider_item .product-item {
    height: 260px;

}

.product_slider_item {
    width: 20%;
}

.product_slider_item .product-item {
    width: 100% !important;

}

.product_slider_nav {
    position: absolute;
    width: 30px;
    height: 70px;
    background: #d3d3d6;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
}

.product_slider_container:hover .product_slider_nav {
    visibility: visible;
    opacity: 1;

}

.product_slider_nav i {
    color: #000;
    font-size: 16px;

}

.product_slider_nav_left {
    top: 50%;
    left: 0;

}

.product_slider_nav_right {
    top: 50%;
    right: 0;

}

/* benefit */
.benefit {
    margin-top: 50px;

}

.benefit_row {
    padding-left: 15px;
    padding-right: 15px;
}

.benefit_col {
    padding-left: 0px;
    padding-right: 0px;
}

.benefit-item {
    height: 100px;
    background-color: #f3f3f3;
    border-right: solid 1px #ffff;
    padding-left: 25px;
}

.benefit_col:last-child .benefit_item {
    border-radius: none;
}

.benefit-icon i {
    font-size: 30px;
    color: #f79629;
}

.f-slider-btn {
    color: rgba(255, 121, 63, 1);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
    animation: pulse-orange 1.5s infinite;
    padding: 20px 10px;
    border-radius: 20px;
}

.benefit-icon i {
    color: rgba(255, 121, 63, 1);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
    animation: pulse-orange 1.5s infinite;
    padding: 10px 10px;
    border-radius: 50%;
}

.discount_text a {
    animation: pulse-orange2 1.5s infinite;
}

.categories .categories_text a {
    animation: pulse-orange2 1.5s infinite;
}

#backtop {
    width: 50px;
    height: 50px;
    background: #f79629;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 100;
    cursor: pointer;
    animation: pulse-orange 1.5s infinite
}

.discount_pic {
    height: 50vh;
    overflow: hidden;

}

.discount_pic img {
    transition: all 0.3s ease-in-out;
}

.discount_pic:hover img {
    transform: scale(1.2);
}

@keyframes pulse-orange {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
    }
}

@keyframes pulse-orange2 {
    0% {
        transform: scale(0.8);
    }

    70% {
        transform: scale(1);
        color: rgb(255, 114, 0);
    }

    100% {
        transform: scale(0.8);

    }
}


.benefit-content {
    padding-left: 22px;
}

.benefit-content h6 {
    text-transform: uppercase;
    line-height: 18px;
    font-weight: 500px;
    margin-bottom: 0px;
}

.benefit-content p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0px;
    color: #000;
}


/* footer */
.newsletter {

    background-color: #e9e9e9;
    width: 100%;


}

.newsletter_text {
    height: 120px;
}

.newsletter_text h4 {
    margin-bottom: 0px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    letter-spacing: 3px;

}

.newsletter_text p {
    margin-top: 0;
    line-height: 1.7;
    color: #000;
}

.newsletter_form {
    height: 120px;

}

.newsletter_email {
    width: 300px;
    height: 46px;
    background-color: #fff;
    border: none;

    padding-left: 20px;
}

.newsletter_email:focus {
    border: 1px solid #1e1e27;
    box-shadow: none;

}

:focus {
    outline: none;
}

.newsletter_email::-webkit-input-placeholder {
    font-size: 14px !important;
    font-weight: 400;
    color: #1e1e27;
}

.newsletter_submit_btn {
    width: 160px;
    height: 46px;
    border: none;
    background: #000;
    font-size: 14px;
    font-weight: 500px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 700;
    color: #e9e9e9;
}


.newsletter_submit_btn:hover {
    background-color: #f79629;
    color: #000;
}

.contact {
    padding-block: 40px 50px;
}

.contact-list {
    display: flex;
    gap: 25px;
    justify-content: flex-end;
    align-items: center;
}

.contact-card {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-card i {
    font-size: 3rem;
}

.footer {
    background-color: #e9e9e9;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-list {
    width: 23.333%;
    padding: 30px;
}

.newsletter-card {
    background-color: #f49621;
    padding: 30px;
    border-radius: 0 50px 0 0;
    margin-block-start: -130px;
    width: 30%;
    z-index: 5;
}

.newsletter-card i {
    font-size: 50px;
    color: #fff;
    --ionicon-stroke-width: 30px;
}

.newsletter-card .card-title {
    color: #fff;
    line-height: 1.2;
    margin-block: 10px 26px;
}

.newsletter-form .label {
    color: #fff;
}

.email-field {
    background-color: #fff;
    font-size: 16px;
    padding: 14px;
    border-radius: 5px;
    margin-block: 8px 20px;
    outline: none;
    width: 100%;
    border: none;
}

.footer .btn:is(:hover, :focus-visible) {
    background-color: #fff;
    color: #000;
}

.footer .h6 {
    color: #000;
    margin-block-end: 20px;
    padding-block-end: 20px;
    font-size: 16px;
    font-weight: 700;
}

.has-before,
.has-after {
    position: relative;
    z-index: 1;
}

.has-before::before,
.has-after::after {
    content: "";
    position: absolute;
}

.footer .h6::after {
    bottom: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: #f49621;
}

.footer-text,
.footer-link {
    color: #000;
}

.footer .btn-outline {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #f49621;
    padding-block-start: 25px;
    transition: all 0.3s;
}

.footer .btn-outline:is(:hover, :focus-visible) {
    color: #000;
}

.footer-link {
    font-size: 14px;
    padding-block: 3px;
    transition: all 0.3s;
}

.footer-link:is(:hover, :focus-visible) {
    color: #f49621;
}

.contact-link {
    font-size: 14px;
    color: #f49621;
    margin-block-start: 20px;
}

.social-link i {
    font-size: 20px;
}

.footer-bottom {
    padding: 45px 60px;
    font-size: 16px;
    color: #000;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.footer-bottom-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block-end: 10px;
    gap: 5px 15px;
}

.copyright {
    text-align: center;
}

.social-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-bottom-list li a {
    color: #f49621;
}

.social-link {
    color: #000;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    display: grid;
    place-items: center;
    transition: all 0.3s;
}

.social-link:is(:hover, :focus-visible) {
    background-color: #f49621;
    border-color: #f49621;
}




/* bannr-img */
.banner {
    position: relative;
    height: 500px;
}

.banner.bg-img {


    background-repeat: no-repeat;
    background-size: cover;
}

/* slider */
.slider-moi {
    margin-top: 80px;
}

.full-slide-box {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative !important;
}

.slider-text-container {
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
}

.f-slider-text {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    align-items: center;
}

.f-slider-text strong {
    font-size: 48px;
    line-height: 55px;
    margin-top: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;

}

.f-slider-text span {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 700;
    letter-spacing: 6px;
    font-size: 20px;
}

.f-slider-btn {
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f79629;
    background-color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 14px;
    border-radius: 5px;
    font-weight: 700;
}



.lSAction>.lSPrev {
    font-size: 55px;
    position: absolute !important;
    left: 4% !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    color: #000;
    z-index: 1;


}

.lSAction>.lSNext {
    font-size: 50px;
    position: absolute !important;
    right: 4% !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    color: #000;
    z-index: 1;

}

.lSSlideOuter .lSPager.lSpg {
    display: none;
}

/* testimonials */
.testimonials {
    margin-top: 80px;
}

.testimonials .testimonials-top {
    text-align: center;
    margin-bottom: 40px;
    padding: 0;
}

.testimonials .testimonials-top h4 {
    margin-bottom: 10px;
    font-weight: 700;
}

.testimonials .testimonials-top p {
    font-size: 14px;
    font-weight: 100;
    color: #000;
}


.testimonials .card {
    border: 1px solid #ddd;
    padding: 32px;
    border-radius: 1rem;
    height: 300px;
    transition: all 0.3s ease;

}

.testimonials .image {
    height: 80px;
    width: 80px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    margin-right: 16px;
}

.testimonials .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.testimonials .card .col:first-child {
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.testimonials .info h5 {
    font-size: 16px;
    font-weight: 500;
}

.testimonials .info span {
    font-size: 12px;
}

.testimonials .rating span:first-child {
    font-weight: 500;
    margin-right: 8px;

}

.rating i {
    color: #f79629;
}

.testimonials .card:hover {
    background-color: #f79629;

}

.testimonials .card:hover .rating span:first-child,
.testimonials .card:hover .col,
.testimonials .card:hover .col h5 {
    color: #ddd;
}

.testimonials .navigation {
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.swiper-pagination-bullet {
    background-color: #f79629;
    height: 1rem;
    width: 1rem;
}

.swiper-pagination-bullet-active {
    width: 2rem;
    border-radius: 16px;

}

.custom-button {
    padding: 10px;
    border-radius: 50%;
    color: #000;
    border: 1px solid #ddd;
    margin-right: 16px;
    justify-content: center;
    cursor: pointer;
    transition: color .3s ease-in;
}

.custom-button:hover {
    background-color: #f79629;
    color: #000;
}

/* categories */
.categories {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.categories .categories_item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
}



.img-fluid {
    max-width: 100%;
}

.categories .categories_text {
    position: absolute;
    left: 15px;

}


.categories .categories_large_item .categories_text {
    position: absolute;
    left: 50px;
    max-width: 210px;

}

.categories .categories_text p {
    margin-bottom: 15px;
    color: #000;
    font-size: 14px;
    font-weight: 200;
}

.categories .categories_text h1 {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}

.categories .categories_text a {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding: 0 0 3px;
    display: inline-block;
}

.none {
    display: none;
}

.categories .categories_text a::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #ff7200;
    content: '';
}

.categories .categories_text h4 {
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}

/* intagram */
.intagram {
    overflow: hidden;
}

.intagram_item {
    position: relative;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.intagram_item::after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    content: '';
    transition: all 0.3s;
    z-index: 1;
    opacity: 0;
}

.intagram_text {
    position: absolute;
    text-align: center;
    opacity: 1;
    visibility: visible;
    z-index: 3;
    transition: all 0.3s;
}

.intagram_text i {
    font-size: 50px;
    color: #ff7200;
    cursor: pointer;
    display: none;
}

.intagram_text a {
    font-size: 16px;
    color: #0d0d0d;
    font-weight: 500;
    display: block;
    margin-top: 10px;

}

.intagram_item:hover .intagram_text {
    opacity: 1;
    visibility: visible;

}

.intagram_item:hover .intagram_text i {
    display: block;
}

.intagram_item:hover::after {
    opacity: 1;
}

/* ***************************Responsive************************************************ */


@media only screen and (max-width: 1199px) {
    .main_slider {
        min-height: 475px;
        height: calc(100vw / 5);
    }

    .main_slider_content {
        width: 80%;
    }

    .product-item {
        height: 340px;
    }
}

@media only screen and (max-width: 991px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    .main_slider_content {
        margin-bottom: 23px;
    }

    .shop_now_button {
        margin-top: 26px;
    }

    .navbar_menu {
        display: none;
    }

    .hamburger_container {
        display: block;
    }

    .main_slider_content {
        width: 100%;
        padding-right: 15px;

    }

    .product-item {
        width: 25%;
    }

    .timer li {
        width: 70px;
        height: 70px;
    }

    .benefit_col {
        margin-bottom: 30px;
    }

    .benefit_col:last-child {
        margin-bottom: 0px;
    }

    .full-slide-box {
        height: 60vh;
    }

    .f-slider-text strong {
        font-size: 30px;
        line-height: 40px;
        margin-top: 10px;
        letter-spacing: 1px;
        font-weight: 700;

    }

    .f-slider-text span {
        text-transform: uppercase;
        font-size: 30px;
    }

    .f-slider-btn {
        width: 140px;

    }

    .owl-carousel .owl-stage-outer {
        height: 115%;
    }

    .newsletter-card {
        width: 100%;
    }

    .footer-list {
        width: 50%;
    }

    .footer-bottom-item {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }

    .shop_now_button {
        margin-top: 20px;
    }

    .red_button a {
        font-size: 12px;
    }

    .new_arrivals_title {
        margin-top: 44px;
    }

    .product-item {
        height: 340px;
        width: 33.3333333%;
    }

    .grid_sorting_button {
        font-size: 13px;
        padding-left: 20px;
        padding-right: 20px;
        min-width: 80px;
    }

    .product_slider_container {
        height: auto;
    }


    .benefit_col {
        margin-bottom: 15px;
    }

    .newsletter_text {
        height: auto;
        margin-top: 30px;
    }

    .newsletter_text p {
        margin-top: 5px;

    }

    .full-slide-box {
        height: 60vh;
    }

    .f-slider-text strong {
        font-size: 25px;
        line-height: 40px;
        margin-top: 10px;
        letter-spacing: 1px;

    }

    .f-slider-text span {
        text-transform: uppercase;
        font-size: 25px;
    }

    .f-slider-btn {
        width: 170px;

    }

    .newsletter_submit_btn {
        font-size: 12px;
        width: 100%;
    }

    .newsletter_email {
        height: 40px;
        width: 100%;
        padding-left: 15px;
    }

    .categories .categories_large_item .categories_text {
        width: 150px;
        left: 15px;
    }

    .categories .categories_text {
        left: 15px;
    }

    .categories .categories_large_item .categories_text h1 {
        font-size: 24px;
        font-weight: 500;
    }

    .categories .categories_text h4 {
        font-weight: 500;
    }

    .categories .categories_large_item .categories_text p {
        display: none;
    }

    .contact {
        display: none;
    }

    .footer {
        margin-top: 150px;
    }

    .f-slider-text {
        align-items: flex-start;
    }

}




@media only screen and (max-width: 575px) {
    .newsletter-card {
        width: 100%;
    }

    .footer-list {
        width: 100%;
    }

    .hamburger_menu {
        right: -100%;
        width: 100%;
    }

    .intagram {
        display: none;
    }

    .product_slider_item .product-item {
        height: 430px;
    }

    .product-item {
        width: 50%;
        height: 340px;
    }

    .newsletter_text {

        margin-top: 5px;
    }

    .newsletter_submit_btn {
        font-size: 12px;
        width: 100%;
    }

    .newsletter_email {
        height: 40px;
        width: 100%;
        padding-left: 15px;
    }

    .full-slide-box {
        height: 50vh;
    }

    .f-slider-text strong {
        font-size: 20px;
        line-height: 40px;
        margin-top: 10px;
        letter-spacing: 1px;

    }

    .f-slider-text span {
        text-transform: uppercase;
        letter-spacing: 6px;
        font-weight: 500;
        letter-spacing: 6px;
        font-size: 20px;
    }

    .f-slider-btn {
        width: 140px;

    }

    .hihi {
        width: 50%;
    }

}

@media only screen and (max-width: 479px) {
    .btn11 {
        max-width: 70% !important;
        padding: 10px 20px !important;
    }

    .btn11 span {
        font-size: 16px !important;
    }

    .logo_container a {
        font-size: 18px;

    }

    .hamburger_container {
        margin-left: 25px;
    }

    .hamburger_container i {
        font-size: 16px;
    }

    .hamburger_close {
        top: 14px;
        right: 4px;
    }

    .hamburger_close i {
        font-size: 20px;
    }

    .hamburger_menu_content {
        padding-right: 15px;
        padding-top: 70px;

    }


    .menu_item a {
        font-size: 12px;
        line-height: 35px;
        height: 35px;

    }

    .navbar {
        height: 80px;
    }

    .navbar_user li a {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }

    .checkout_items {
        width: 15px;
        height: 15px;
        font-size: 10px;
    }

    .main_slider {
        /* height: calc(100vh - 70px); */
        height: 80vw;
        min-height: auto;
        margin-top: 70px;
    }

    .main_slider_content h6 {
        margin-bottom: 15px;
    }

    .main_slider_content h1 {
        font-size: 24px;
    }

    .shop_now_button {
        margin-top: 15px;
        width: 100px;
        min-height: 35px;
    }

    .red_button a {
        font-size: 10px;
        text-align: center;
    }

    .grid_sorting_button {
        font-size: 10px;
        padding-left: 5px;

        padding-right: 5px;
        min-height: 30px;
    }

    .discount_text .discount_text_title h2 {
        font-size: 35px;
    }

    .product-item {
        width: 50%;
        height: auto;
    }

    .product {
        height: auto;
    }

    .add_to_card_button {
        margin-top: 20px;
    }

    .product_slider_item {
        width: 100%;
        height: auto;
    }

    .product_slider_item .product-item .product {
        height: auto;
    }


    .full-slide-box {
        height: 40vh;
    }

    .f-slider-text strong {
        font-size: 20px;
        line-height: 40px;
        margin-top: 10px;
        letter-spacing: 1px;

    }


    .f-slider-text span {
        text-transform: uppercase;
        letter-spacing: 6px;
        font-weight: 500;
        letter-spacing: 6px;
        font-size: 20px;
    }

    .f-slider-btn {
        width: 100px;
        font-size: 10px;
    }

    .lSAction>.lSPrev {
        font-size: 30px;
    }

    .lSAction>.lSNext {
        font-size: 30px;
    }

    .login-form,
    .sign-up-form {
        width: 360px;
    }

}


@keyframes out-left {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }

    to {
        -webkit-transform: rotate3d(0, 1, 0, 86deg);
        transform: rotate3d(0, 1, 0, 86deg);
    }
}

@keyframes in-right {
    from {
        -webkit-transform: rotate3d(0, -1, 0, 90deg);
        transform: rotate3d(0, -1, 0, 90deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }
}

@keyframes out-right {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
    }

    to {
        -webkit-transform: rotate3d(0, -1, 0, 86deg);
        transform: rotate3d(0, -1, 0, 86deg);
    }
}

/* .f-slider-text {
    animation: fadeInLeft 2s both;
} */

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        text-align: center;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        text-align: center;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        text-align: center;
    }
}

.counter-up {
    margin-top: 50px;
    min-height: 50vh;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 50px;
    position: relative;
    display: flex;
    align-items: center;
}

.counter-up::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.counter-up .content {
    z-index: 1;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.counter-up .content .box {
    border: 1px solid #f49621;
    ;
    width: calc(25% - 30px);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
}

.content .box .icon {
    font-size: 30px;
    color: #000;
}

.content .box .counter {
    font-size: 50px;
    font-weight: 700;
    color: #000;
    padding: 20px;
}

.content .box .text {
    font-weight: 400;
    color: #000;
}

@media screen and (max-width: 1036px) {
    .counter-up {
        padding: 50px 50px 0 50px;
    }

    .counter-up .content .box {
        width: calc(50% - 30px);
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 580px) {
    .counter-up .content .box {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        padding: 20px;
    }

    .counter-up {
        padding: 30px 20px 0 20px;
    }
}

.btn11 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding: 20px 40px;
    border-radius: 25px 0;
    line-height: 1.4;
    transition: 0.25s ease;
    background-color: #fff;
    justify-content: center;
}

.btn11 span {
    animation: pulse-orange2 1.5s infinite;
}

.btn11:is(:hover, :focus-visible) {
    border-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;

}

.btn12 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding: 20px 40px;
    border-radius: 25px 0;
    line-height: 1.4;
    transition: 0.25s ease;
    background-color: #fff;
    justify-content: center;
    color: #000;
}


.btn12:is(:hover, :focus-visible) {
    border-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.btn12:is(:hover, :focus-visible) {
    background-color: #000;
    color: #fff;
}

.btn-secondary {
    color: #000;
    box-shadow: inset 0 0 0 2px #f79629;
}

.btn-secondary:is(:hover, :focus-visible) {
    background-color: #000;
    color: #fff;
    box-shadow: inset 0 0 0 2px #000;

}